# --------------------------------------
# MacOS
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
*.class
*.jar
*.asc
*.war
*.zip
*.ear
hs_err_pid*

# --------------------------------------
# log
# --------------------------------------
_log/
.log/
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# temporary files
# --------------------------------------
target/
*.tmp
*.temp
*.bak
*.backup
*.pid
~*

# --------------------------------------
# password
# --------------------------------------
*.pwd

# --------------------------------------
# 其他
# --------------------------------------
.dist/